.playerinfos{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    height: 100%;
    background-color: #EADBC8;
    border-radius: 5px;
    


    .info{
        display: flex;
        justify-content: space-between;
        padding: 10px;

    }
}