.item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .item:hover {
    background-color: #f0f0f0;
  }
  
  .selectedItem {
    background-color: #e0e0e0;
  }
  
  .imageAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .text {
    display: flex;
    flex-direction: column;
  }
  
  .span {
    font-weight: bold;
  }
  
  .message {
    color: #666;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }
  

.ChatFriends{
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure it takes full height of its container */
  overflow-y: auto; /* Changed from hidden to auto */
  overflow-x: hidden;
    .search {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 20px;
  
      .searchBar {
        flex: 1;
        background-color: rgba(17, 25, 40, 0.5);
        display: flex;
        align-items: center;
        gap: 20px;
        border-radius: 10px;
        padding: 10px;
        
          .input {
            background-color: transparent;
            border: none;
            outline: none;
            color: white;
            flex: 1;
          }
      }
      .add {
        width: 36px;
        height: 36px;
        background-color: rgba(17, 25, 40, 0.5);
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
      }
      }

    .item {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        cursor: pointer;
        border-bottom: 1px solid #f0f0f0; /* Changed to a lighter color for better contrast */
        transition: background-color 0.3s ease; /* Smooth transition effect */

        &:hover {
            background-color: #f0f0f0; /* Background color change on hover */
        }

        .imageAvatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover; /* Ensures image is properly displayed */
        }

        .text {
            display: flex;
            flex-direction: column;
            gap: 5px; /* Reduced gap for a more compact appearance */

            .span {
                font-weight: 500;
                font-size: 16px; /* Adjusted for better readability */
            }

            .message {
                font-weight: 300;
                font-size: 14px;
                color: #666; /* Added color for better contrast */
            }
        }
    }
}
