.item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .item:hover {
    background-color: #f0f0f0;
  }
  
  .selectedItem {
    background-color: #e0e0e0;
  }
  
  .imageAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .text {
    display: flex;
    flex-direction: column;
  }
  
  .span {
    font-weight: bold;
  }
  
  .message {
    color: #666;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }
  

.ChatFriends{
    flex: 1;
    overflow-y: hidden;
    .search{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;


        .searchBar{
            flex: 1;
            padding: 10px;
            background: #DAC0A3;
            display: flex;
            align-items: center;
            gap: 20px;
            border-radius: 10px;


            .input{
                background-color: transparent;
                border: none;
                outline: none;
                flex: 1;
            }
        }
        .add{
            background: #DAC0A3;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
        }
    }
    .item{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        cursor: pointer;
        border-bottom: 1px solid #fff;

        .imageAvatar{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .text{
            display: flex;
            flex-direction: column;
            gap: 10px;
        
            .span{
                font-weight: 500;
            }
            .message{
                font-weight: 300;
                font-size: 14px;
            }
        }
        
    }
}

