.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #EADBC8;
    border-radius: 10px;
    
    .title{

    }
    .chartContainer{
        width: 100%;
        height: 100%;
    }
}