.NotifNotif{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.window{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    max-height: 100vh;
    overflow-y: scroll;
    border-radius: 6px;
    border: 1px solid black;
    background-color: #F8F0E5;
    max-width: 100vw;
    min-width: 500px;

    .element{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 10px;
        width: 100%;
        border-radius: 6px;

        .errors{
            text-align: center;
            color: red;
            font-weight: bold;
            margin-top: 5px; 
            font-size: 14px; 
        }

        .label{
            font-size: 24px;
        }

        .input{
            border-radius: 6px;
            border: none;
            padding: 20px;
            width: 400px;
            font-size: 30px;
            background-color: #DAC0A3;
        }

        .buttonContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 180px;
            font-size: 10px;
            gap: 20px;
            .button{
                height: 100px;
                font-size: 14px;
                border-radius: 6px;
                border: none;
                padding: 20px;
                width: 200px;
                font-size: 30px;
                background-color: #DAC0A3;
                cursor: pointer;
            }
        }
    }
}


.Image{
    width: 100px;
    height: 100px;
}