.container{
    width: 100%;
    height: 100%;
    background-color: #EADBC8;
    border-radius: 10px;
    position:relative;
    
    .textContainer{
        position: absolute;
        left: calc(50% + -100px) ;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        font-size: 24px;
        text-align: center;
        width: 200px;
        .level{
            font-size: 24px;
        }
    }
    .progressBar{
        position: absolute;
        height: 100%;
        background-color: #102C57;
        width: 75%;
        border-radius: 10px;
    }

}