.Friends{
    display: flex;
    flex-direction: column;
    background-color: #EADBC8;
    height: 100%;
    border-radius: 5px;

    .buttons{
        display: flex;
        justify-content: space-around;
        margin: 17px;

        .button{
            width: 90px;
            height: 50px;
            border:none;
            background-color: #DAC0A3;
            color: #102C57;
            border-radius: 6px;
            cursor: pointer;
            font-size: 22px;
        }
        .buttonClicked{
            width: 90px;
            height: 50px;
            border:none;
            background-color: #102C57;
            color: #ffffff;
            border-radius: 6px;
            cursor: pointer;
            font-size: 22px;
        }
    }
}
.Online{
    display: flex;
    align-items: center;
    .image{
        border-radius: 50%;
        margin: 7px;
    }
    &:hover{
        background-color: #102c5724;
    }
}