.body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 95vh;
    width:100vw;
    background-color: #c9cbd3;
}

.chat {
    width: 80vw;
    height: 80vh;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100%;
    background-color: rgba(15, 9, 46, 0.63);
    overflow: hidden;
    /* Center the chat element within the remaining space */
    margin: auto;
}


.ChatList, .ChatField, .ChatDetails {
    overflow-y:auto; /* Changed to auto for better scrolling behavior */
    /* Scrollbar styling for WebKit browsers */
    &::-webkit-scrollbar {
        width: 8px; /* Width of the vertical scrollbar */
    }
    &::-webkit-scrollbar-track {
        background: #F8F0E5; /* Background of the scrollbar track */
        border-radius: 6px; /* Rounded corners for the track */
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.3); /* Color of the scrollbar thumb */
        border-radius: 6px; /* Rounded corners for the thumb */
    }
    &::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.5); /* Hover state for the thumb */
    }

}

/* Mobile screens (default) */
.ChatList{
    flex:1;
    display: flex;
    border-right: 1px solid #000;
    flex-direction: column;
    padding:1rem ;
    display: none;
}

.ChatDetails {
    display: none;
}

/* Tablet and larger screens */
@media screen and (min-width: 768px) {
    .chat {
        grid-template-columns: 30% 70%;
    }
    
    .ChatList {
        display: block;
    }
}

/* Desktop and larger screens */
@media screen and (min-width: 1024px) {
    .chat {
        grid-template-columns: 20% 60% 20%;
    }
    
    .chat.showDetails {
        grid-template-columns: 20% 50% 30%;
    }
    
    .ChatList, .ChatDetails {
        display: block;
    }
}