.body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.chat {
    width: 80vw;
    height: 80vh;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 100%;
    background-color: rgba(15, 9, 46, 0.63);
    overflow: hidden;
    /* Center the chat element within the remaining space */
    margin: auto;
}


.ChatList, .ChatField, .ChatDetails {
    height: 98%; /* Full height of parent */
    padding: 1rem;
    overflow-y: auto; /* Allow scrolling within each section */
}

.ChatField {
    display: flex;
    flex-direction: column;
}

/* Mobile screens (default) */
.ChatList, .ChatDetails {
    display: none;
}

/* Tablet and larger screens */
@media screen and (min-width: 768px) {
    .chat {
        grid-template-columns: 30% 70%;
    }
    
    .ChatList {
        display: block;
    }
}

/* Desktop and larger screens */
@media screen and (min-width: 1024px) {
    .chat {
        grid-template-columns: 20% 60% 20%;
    }
    
    .chat.showDetails {
        grid-template-columns: 20% 50% 30%;
    }
    
    .ChatList, .ChatDetails {
        display: block;
    }
}