
.player{
    /* background-color: var(--obsi); */
    width: 25vw;
    height: 8vh;
    border-radius:20px;
    border:1px solid rgb(143, 148, 67);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow:wrap row;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    padding: 0 10px;
}

.LeftPlayer{
    flex-direction: row-reverse;
}

.avatar{
    border-radius: 50%;
    box-shadow: 0 4px 6px black;
}