.container {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 4px 4px;

    .logo{
        display: flex;
        align-items: center;
        width: 40px;
        height: 40px;

        .logoImage {
            width: 40px;
            height: 40px;
            @media screen and (max-width: 1000px) {
                width: 40px;
                height: 40px;
            }
        }
        .title {
            font-size: 1.125rem;
            margin: 10px;
            @media screen and (max-width: 1000px) {
                display: none;
            }
        }
    }

    .search {
        position: relative;

        .input {
            font-size: 0.9375rem;
            height: 40px;
            padding: 2.5px;
            padding-left: 53px;
            border: none;
            border-radius: 6px;
            width: 666px;
            background-color: #EADBC8;
            color: #102C57;
            @media screen and (max-width: 1000px) {
                height: 40px;
                width: 50vw;
            }
        }
        
        .imageStyle {
            position: absolute;
            left: 34px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .profileAndIcons{
        display: flex;
        gap: 15px;
        align-items: center;
        height: 40px;
        .icons{
            display: flex;
            gap: 15px;
            padding: 10px;
            
            .img{
                width: 30px;
                height: 30px;
            }
        }
        .profile{
            display: flex;
            gap: 15px;
            align-items: center;
            .profileImage{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1px solid #102C57;
            }
        }

    }
}