.MessageNotif {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.window {
    width: 300px;
    max-height: 400px;
    overflow-y: auto; /* Changed to auto for better handling of content overflow */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: #F8F0E5;

    .element {
        display: flex;
        align-items: center; /* Added to align avatar and text */
        gap: 10px;
        padding: 10px;
        width: 100%;
        border-radius: 6px;
        background-color: #FFF; /* Added a default background color */
        transition: background-color 0.3s; /* Smooth transition for hover effect */

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover; /* Ensure the image fits well */
        }

        /* Optional: Add some text styling */
        .text {
            font-size: 16px;
            color: #333; /* Dark color for better readability */
        }
    }

    .element:hover {
        background-color: aquamarine;
    }
}
