.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.buttons1 {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.111) #11111100;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imgContainer {
    width: 35px;
    height: 35px;
    background-color: #DAC0A3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    @media screen and (max-width: 720px) {
        width: 30px;
        height: 30px;
    }

}

.img {
    width: 15px;
    height: 15px;
    @media screen and (max-width: 720px) {
        width: 15px;
        height: 15px;
    }
    
}

.title {
    margin-left: 20px;
    @media screen and (max-width: 1000px) {
        display: none;
    }

}

.button, .buttonSelected {
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    @media screen and (max-width: 720px) {
        padding: 0px;
        margin: 5px;
    }
    &:hover {
        .imgContainer{
            transition: background-color 0.5s ease, transform 0.5s ease;
            transform: scale(1.025);
        }
        .title{
            transform: scale(1.025);
        }
    }
}

.button {
    background-color: transparent;
    color: #000;

    &:hover {
        background-color: #DAC0A358;
    }
}

.buttonSelected {
    background-color: #DAC0A3;
    color: #000;
    .imgContainer {
        background-color: #102C57;
    }
}
