.achievements {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #eadbc8;
    border-radius: 5px;
  }
  
  .title {
    margin: 30px;
  }
  
  .achievementsContainer {
    width: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
  }
  
  .achievementItem {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .achievementItem:hover {
    background-color: #102c5724;
  }
  
  .image {
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .details {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .description {
    font-size: 14px;
    color: #333;
  }
  