.main{
    background-color: #F8F0E5;
    height: 100vh;
}
.container{
    display: flex;
}
.nemu{
    width: fit-content;
    padding: 5px 10px;
    @media screen and (max-width: 720px) {
        padding: 0px 0px;
    }
    border-right: 1px solid black ;
}
.Content{
    width: 100%;
}